<div id="notita-page" class="container" style="background-color:#adb5bd;">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a style="font-family: Mochiy Pop P One; color:white" class="navbar-brand" href="#">Proiect Notite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a style="font-family: Mochiy Pop P One; color:white" class="nav-link" href="#loadHome()">Home <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <br><br><br>
    <div id="adaugaDisciplina" class="row justify-content-center">
        <br>
        <br>
        <form id="formAdaugaDisciplina" class="row justify-content-center">
            <input id="titluDisciplina" type="text" class="form-control" placeholder="Titlu disciplina"
                aria-label="email" aria-describedby="basic-addon1">

            <br><br>
            <button style="font-family: Mochiy Pop P One; color:white" type="submit"
                class="btn btn-secondary btn-lg col-2" id="creare_cont_btn2">Submit</button>
        </form>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


</div>