<div id="notita-page" class="container" style="background-color:#adb5bd;">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a style="font-family: Mochiy Pop P One; color:white" class="navbar-brand" href="#">Proiect Notite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a style="font-family: Mochiy Pop P One; color:white" class="nav-link" href="#loadHome()">Home <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <br><br><br><br>
    {{#data}}
    {{#discipline}}
    <div>
        <a class="btn btn-secondary" href="#modificaDisciplina('{{idNotita}}','{{id}}')">{{title}}</a>
        <br><br>
        {{/discipline}}
        {{/data}}
        <br>
        <br>
        <br>
        <br>
        <p>
            <a style="margin-right: 30px; font-family: Mochiy Pop P One; color:white"
                class="btn btn-outline-danger my-2 my-sm-0" href="#addDisciplina('{{idNotita}}')">Adauga o
                noua disciplina</a>
        </p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



</div>