<div id="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a style="font-family: Mochiy Pop P One; color:white" class="navbar-brand" href="#">Proiect Notite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a style="font-family: Mochiy Pop P One; color:white" class="nav-link" href="#loadHome()">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <div class="btn-group">
                        <button style="font-family: Mochiy Pop P One; color:white" type="button"
                            class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Notite
                        </button>
                        <div class="dropdown-menu">
                            <a style="font-family: Mochiy Pop P One; color:#343434" class="dropdown-item"
                                href="#loadCursuri()">Curs</a>
                            <a style="font-family: Mochiy Pop P One; color:#343434" class="dropdown-item"
                                href="#loadSeminarii()">Seminar</a>
                        </div>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a style="margin-right: 30px" class="btn btn-outline-danger my-2 my-sm-0 text-end" id="logare"
                    href="#loadLogare()">Logare</a>
                <a class="btn btn-outline-danger my-2 my-sm-0 text-end" id="delogare" href="#delogare()">Delogare</a>
            </form>
        </div>
    </nav>

    <div id="home" class="pagina">
        <div class="card bg-dark text-white">
            <img class="card-img" src="/pictures/background.png" alt="Card image">
            <div class="card-img-overlay">

                <!-- <img src="pictures/logo.htm" class="img-fluid" alt="Responsive image"> -->
                <p class="card-text text-secondary">Echipa New Spicy Wings
                    <br>
                    <br>
                    ~Paraschivoiu Adriana-Teodora
                    <br>
                    ~Petcu Nicusor-Dragos
                    <br>
                    ~Paducel Alexandru-Gabriel
                </p>
                <br><br>
                <div class="container">

                </div>
            </div>
        </div>


    </div>
</div>