<body>
    <div class="sidenav">
        <a href="#loadHome()" id="creare_cont_btn2"><img src="/pictures/back.png" alt=""></a>
        <div class="login-main-text">
            <h2>Aplicație Notițe<br>Înregistrare</h2>
            <p>Bine ați venit pe pagina de creare a conturilor</p>
            <img src="/pictures/imagine_register.jpg" alt="..." class="img-thumbnail">
        </div>
    </div>
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
            <div class="login-form">
                <form id="formInregistare">
                    <div class="form-group">
                        <label style="font-family: Mochiy Pop P One; color:white">Email</label>
                        <input type="text" class="form-control" placeholder="email" id="emailInregistrare">
                    </div>
                    <div class="form-group">
                        <label style="font-family: Mochiy Pop P One; color:white">Password</label>
                        <input id="passwordInregistrare" type="password" class="form-control" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-black col-5" id="creare_cont_btn2">Creați contul</button>
                </form>
            </div>
        </div>
    </div>
</body>