<body>
    <div class="sidenav">
        <a href="#loadHome()" id="creare_cont_btn2"><img src="/pictures/back.png" alt=""></a>
        <div class="login-main-text">
            <h2>Aplicație Notițe<br>Logare</h2>
            <p>Logare sau înregistrare pentru acces.</p>
            <img src="/pictures/imagine_logare.jpg" alt="..." class="img-thumbnail">

        </div>
    </div>
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <form id="formLogare">
                    <div class="form-group">
                        <label style="font-family: Mochiy Pop P One; color:white"">Email</label>
                        <input type=" text" class="form-control" placeholder="email" id="emailLogare">
                    </div>
                    <div class="form-group">
                        <label style="font-family: Mochiy Pop P One; color:white">Password</label>
                        <input id="passwordLogare" type="password" class="form-control" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-black col-5">Login</button>
                    <a type="button" href="#loadInregistrare()" class="btn btn-secondary col-5"
                        id="creare_cont_btn">Register</a>
                </form>
            </div>
        </div>
    </div>
</body>