<div id="partajarePage" class="container" style="background-color:#adb5bd;">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a style="font-family: Mochiy Pop P One; color:white" class="navbar-brand" href="#">Proiect Notite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a style="font-family: Mochiy Pop P One; color:white" class="nav-link" href="#loadHome()">Home <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <br><br><br>



    <!-- <div class="input-group mb-3"> -->
    <div id="adaugaDisciplina" class="row justify-content-center">
        <form id="formPartajare" class="row justify-content-center">
            <input placeholder="Enter friend's email" id="emailPartajare" type="text" class="form-control"
                aria-describedby="basic-addon1">
            <br><br><br>
            <button style="font-family: Mochiy Pop P One; color:white" type="submit"
                class="btn btn-secondary btn-lg col-2" id="partajare_btn">Partajare</button>
            <label class="col-1"></label>
        </form>
    </div>
    <!-- </div> -->

    <br><br><br>
</div>